/* General Styles */
body {
   margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('camera.jfif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; 
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
  background-image: url('camera.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  color: #fff;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
